<h2>New Recipe</h2>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  <%= f.label :directions %>
  <%= f.text_area :directions %>
  </br>
  <%= f.label :ingredients %>
  <%= f.text_area :ingredients %>
  </br>
  <%= f.submit "submit" %>
<% end %>
